<mat-toolbar>
  <span>Rides Offered</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openRideDialog()">Offer a Ride</button>
</mat-toolbar>
<!--<mat-table [dataSource]='ridesData'>-->
  <!--<ng-container matColumnDef="id">-->
    <!--<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let ride"> {{ride.id}} </mat-cell>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="userName">-->
    <!--<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let ride"> {{ride.name}} </mat-cell>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="start">-->
    <!--<mat-header-cell *matHeaderCellDef> Start </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let ride"> {{ride.startCity}}, {{ride.startState}} </mat-cell>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="end">-->
    <!--<mat-header-cell *matHeaderCellDef> End </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let ride"> {{ride.endCity}}, {{ride.endState}} </mat-cell>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="date">-->
    <!--<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let ride"> {{ride.dateOffered}} </mat-cell>-->
  <!--</ng-container>-->
  <!--<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>-->
  <!--<mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>-->
<!--</mat-table>-->
<div class="row h-100">
  <div class="col-6">
    <ul class="scrollable-cards">
      <li *ngFor="let rideOffer of riderOffersDisplayed; let i = index; trackBy: trackRideOffersDisplayed">
        <mat-card class="example-card" tabindex="0">
          <mat-card-header>
            <mat-card-title>{{rideOffer.driverName}}</mat-card-title>
            <mat-card-subtitle>
              <div class="row">
                <div class="col-4">
                  {{rideOffer.origin}}
                </div>
                <div class="col-2">
                  to
                </div>
                <div class="col-4">
                  {{ rideOffer.destination }}
                </div>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-6">
                {{rideOffer.departureDate}}
              </div>
              <div class="col-6">
                {{rideOffer.displayedTime}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Seats Available: {{rideOffer.seatsAvailable}}
              </div>
              <div class="col-6">
                ${{rideOffer.cost}}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="updateMapView(rideOffer)">VIEW ON MAP</button>
            <button mat-button (click)="openProfileDialog(rideOffer)">VIEW NOTE/PROFILE</button>
            <button mat-button (click)="requestRide(rideOffer)">REQUEST</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
  <div class="col-6">
      <agm-map [latitude]="originLat" [longitude]="originLon" [zoom]="4" [fitBounds]="mapBounds">
        <agm-marker [latitude]="originLat" [longitude]="originLon"></agm-marker>
        <agm-marker [latitude]="destLat" [longitude]="destLon"></agm-marker>
      </agm-map>
  </div>
</div>
