.example-spacer {
  flex: 1 1 auto;
}

agm-map {
  height: 520px;
}

.scrollable-cards {
  height: 520px;
  overflow: visible;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

mat-card-content {
  margin: 0 8px;
}
